meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
    border-radius: 3px;
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
    border-radius: 3px;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
    border-radius: 3px;
}

.meter-confidence::-webkit-meter-suboptimum-value {
    background: #CC4600; 
    border-radius: 3px;
}

#graphics {
    height: 300px;
    background: #F26D2D;
    position: relative;
    img {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit: cover;
        overflow: hidden;
    }
}

#History {
    overflow-y: scroll;
    overflow-x:hidden;
}

.history {
    margin: 1rem;
}

.historyIcon {
    margin: 5px
}

.historyHeader {
    border-bottom: 1px solid lightgray;
}

section:empty {
    display: none;
}

.historyEffects {
    border-top: 1px solid #8c8b8b;
}

.buff {
    color: green;
}
.debuff{
    color: red;
}

#closeCodeBlockWarning{
    display: none; 
    border: 1px solid #000;
}

#closeCodeBlockWarning,
#dayBanner,
#complicationBanner{
    overflow: hidden;
}

#modalWindow {
    position: absolute;
    top: 10px;
}

.timidFlag{
    color: red;
}
.delusionalFlag{
    color: red;
}
.todayCodeBlock{
    background-color: #F26D2D;
    color: #FFF;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}
.yesterdayCodeBlock{
    background-color: #CE4B0C;
    color: #FFF;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}
.tomorrowCodeBlock{
    background-color: #FFA87E;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}

//nss colors
// linear-gradient(to right, #f0452d 0%, #f26c2d 100%)

//all custom statements should be above the import statements
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-slider/dist/bulma-slider.sass"